/* styles.css */
html, body
{
    margin: 0;
    padding: 0;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #E7ECEB;
  color: #242426;
}

.light {
  font-weight: 300;
}

h1 {
  font-weight: 500;
  font-size: 60px;
}

h2 {
  font-weight: 300;
  font-size: 24px;
}

/* Start Status Messages */
.message {
  max-width: 500px;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 10px;
  box-sizing: border-box;
  display: flex;
}

.error-message {
  color:red;
  outline: red solid 1px;
  background-color: rgb(228, 199, 199);
}

.success-message {
  color:#57a06f;
  outline: #57a06f solid 1px;
  background-color: rgb(240 254 246);
}

/* dismiss error x */
.dismiss-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: #535353;
  padding: 0;
  margin-left: 8px;
  font-size: 16px
}

.dismiss-button:hover {
  color: #000000;
}

/* End Status Messages */

.header {
  text-align: center;
  background-color: #3B4FB6;
  padding: 10px;
  border-radius: 0 0 10px 10px;
}

.header h1 {
  color: white;
}

.form-container {
  margin: 20px auto;
  max-width: 300px;
}

.form-field input[type="text"],
.form-field input[type="email"],
.form-field input[type="password"] {
  width: 100%;
  font-size: 24px;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border: 0;
  border-width: 0;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
}

.form-field label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.login-button,
.request-button,
.settings-button {
  display: block;
  font-size: 24px;
  width: 100%;
  background-color: #3B4FB6;
  color: #F4F7F8;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 10px;
  text-align: center;
  text-decoration: none;
  font-weight: 500;
  border: 0;
  box-sizing: border-box;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.settings-button.danger {
  background-color: rgb(209, 71, 71);
}

.settings-button.danger.small {
  font-size: 16px;
}

.settings-button.cancel {
  color: black;
  background-color: #cfcfcf;
}

.settings-button.cancel.small {
  font-size: 16px;
}

.request-button {
  background-color: #CFD6FF;
  color: #3B4FB6;
}

.text-area {
  background-color: #F4F7F8;
  padding: 10px;
  text-align: center;
  margin-top: 20px;
  max-width: 400px; /* Set your desired max-width value */
  margin-left: auto;
  margin-right: auto;
  font-weight: 300;
  word-wrap: break-word;
  border-radius: 10px;
  box-sizing: border-box;
}

.center-text {
  text-align: center;
}

.center-text p,
.center-text a.sign-in {
  display: inline;
}

.sign-in {
  /* Reset default link styles */
  color: #3B4FB6;
}

/* Password Field + Show/Hide Icon */
.password-field {
  position: relative;
}
.password-toggle {
  position: absolute;
  top: 45%;
  right: 10px;
  transform: translateY(-50%);
  padding: 5px;
  cursor: pointer;
  font-size: 25px;
}
/* End Password Field + Show/Hide Icon */

/* start delete account modal */

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 400px;
  border-radius: 4px;
  text-align: center;
}

.modal-content input[type="password"] {
  margin-bottom: 10px;
  padding: 8px;
  width: 100%;
  border-radius: 4px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-size: 16px;
}

/* end delete account modal */

/* Bottom Bar Icons */

.bottom-icons {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  min-width: 505px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  color: #242426;
  text-decoration: none;
  margin: 0 30px; /* Add margin for spacing */
}

.center-icon {
  background-color: #3B4FB6;
  color: white;
  width: 60px;
  height: 60px;
}

.new-object-icon {
  background-color: #3B4FB6;
  color: white;
  width: 60px;
  height: 60px;
}

.icon i {
  font-size: 30px;
}

.icon center-i {
  font-size: 35px;
}

/* Bottom Bar Icons End */

/* Form Link Buttons */

.dashboard-container {
  margin: 20px auto;
  max-width: 500px;
}

.form-link {
  display: flex;
  align-items: center; /* Vertically center items */
  justify-content: space-between; /* Horizontally align items */
  background-color: white;
  color: #000;
  padding: 10px 20px;
  border-radius: 10px;
  text-decoration: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
  font-size: 42px;
  font-weight: 300;
}

/* Form Link Buttons End */

/* Form Start */

.form-container {
  margin: 20px auto;
  max-width: 500px;
}

.question-form-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  color: #000;
  padding: 10px 20px;
  border-radius: 10px;
  text-decoration: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
  font-size: 42px;
  font-weight: 300;
}

.question-form-header i {
  font-size: 20px;
  background-color: #3B4FB6;
  color: white;
  padding: 5px;
  margin: 5px;
  border-radius: 50%;
}

.title-editing {
  flex-grow: 1;
  font-size: 42px;
  font-weight: 300;
  border: none;
  background: none;
  resize: none;
  font-family: 'Inter', sans-serif;
  border-bottom: 2px solid;
  padding-bottom: 7px;
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
}

.question-form-body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  color: #000;
  padding: 20px 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
  font-weight: 300;
}

.question-form-body i {
  font-size: 20px;
  background-color: #3B4FB6;
  color: white;
  text-decoration: none;
  padding: 5px;
  margin: 5px;
  border-radius: 50%;
}

.form-template-body {
  font-size: 20px;
  color: #555;
}

.body-editing {
  flex-grow: 1;
  font-size: 20px;
  font-weight: 300;
  color: #555;
  border: none;
  background: none;
  resize: none;
  font-family: 'Inter', sans-serif;
  border-bottom: 1px solid #555;
  padding-bottom: 7px;
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
}

.question-form {
  display: flex;
  align-items: center; /* Adjust alignment as needed */
  background-color: #3B4FB6;
  color: white;
  padding: 10px 20px;
  border-radius: 10px 10px 0 0;
  margin-bottom: 0;
}

.editing {
  background-color: white;
  border: 3px dotted #3B4FB6;
  color:#242426;
  padding: 10px 20px;
  border-radius: 10px 10px 0 0;
  text-decoration: none;
  margin-bottom: 0;
  font-size: 24px;
  font-weight: 300;
}

.question-form.editing i {
  font-size: 20px;
  background-color:#3B4FB6;
  color: white;
  padding: 5px;
  margin: 5px;
  border-radius: 50%;
}

.question-form i {
  font-size: 20px;
  background-color: white;
  color: #3B4FB6;
  padding: 5px;
  margin: 5px;
  border-radius: 50%;
}

.question-text {
  flex-grow: 1;
  font-size: 24px;
  font-weight: 300;
}

.question-editing {
  flex-grow: 1;
  font-size: 24px;
  font-weight: 300;
  color: white;
  border: none;
  background: none;
  resize: none;
  font-family: 'Inter', sans-serif;
  border-bottom: 2px solid #ffffff;
  padding-bottom: 7px;
  width: 100%;
  overflow: hidden;
  box-sizing: border-box; /* Added property */
}

.response-box {
  background-color: white;
  border: 3px solid #3B4FB6;
  border-top: none;
  border-radius: 0 0 10px 10px;
  padding: 10px 20px;
  font-size: 24px;
  font-weight: 300;
}

.combined-form {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}

.form-edit {
  text-decoration: none;
}

.form-edit-buttons a {
  text-decoration: none;
  color: white;
}

.save-button {
  border: 0;
  background: none;
  cursor: pointer;
  text-decoration: none;
  margin-top: 10px;
}

.form-edit-buttons i {
  font-size: 20px;
  background-color: white;
  color: #3B4FB6;
  padding: 5px;
  margin: 5px;
  border-radius: 50%;
}

.question-form-header a {
  text-decoration: none;
  min-height: 60px;
}

.form-header-icons {
  display: flex;
}

.form-header-icons a {
  color: white;
  text-decoration: none;
}

/* Form End */

/* Form max Count */
.form-field {
  position: relative;
}

.character_count {
  position: absolute;
  top: 80%;
  right: 10px;
  transform: translateY(-50%);
  padding: 5px;
  cursor: pointer;
  color: #888;
  font-size: 12px;
}

.modal-background {
  z-index: 9999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5); /* Dimming effect */
  backdrop-filter: blur(1px); /* Blurring effect */
  padding: 20px;
  border-radius: 8px;
}

.modal-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10000; /* Make sure it's above the background */
}

.recording-icons {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-family: 'Inter', sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 100%;
  justify-content: center;
}

.start-btn, .stop-btn, .pause-btn, .resume-btn {
  border: 0;
  background: none;
  cursor: pointer;
  text-decoration: none;
  margin-top: 10px;
  font-size: 100px;
  background-color: #3B4FB6;
  color: white;
  text-decoration: none;
  padding: 50px;
  margin: 25px;
  border-radius: 50%;
}