{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Talk2Form Forms Dashboard</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;500&display=swap" rel="stylesheet">
    <script src="https://unpkg.com/@phosphor-icons/web"></script>
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
</head>
<body>
    <div class="header">
        <h1>Dashboard</h1>
    </div>
    <div class="dashboard-container">
        {% for form_template in form_templates %}
        <a class="form-link" href="{% url 'editform' form_template.id %}"><span>{{ form_template.title }}</span><i class="ph ph-sign-in"></i></a>
        {% endfor %}
    </div>
    <footer>
        <div class="bottom-icons">
            <a class="icon" href="logout"><i class="ph ph-sign-out"></i></a>
            <form method="POST" class="center-button-form" action="{% url 'create_default_form_template' %}">
                {% csrf_token %}
                <a href="dashboard" onclick="event.preventDefault(); this.closest('form').submit();" class="icon new-object-icon"><i class="ph ph-plus"></i></a>
            </form>
            <a class="icon" href="usersettings"><i class="ph ph-user-circle"></i></a>
        </div>
    </footer>
</body>
</html>