{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Talk2Form Form</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;500&display=swap" rel="stylesheet">
    <script src="https://unpkg.com/@phosphor-icons/web"></script>
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
</head>
<body>
    <div class="form-container">
        <div class="question-form-header">
            {% if editing %}
                <form method="POST" action="{% url 'save_template_title' form_template.id %}">
                    {% csrf_token %}
                    <input class="title-editing" type="text" name="title" value="{{ form_template.title }}" autofocus>
                    <button type="submit">Save</button>
                </form>
            {% else %}
                <span>{{ form_template.title }}</span>
                <a href="{% url 'edit_template_title' form_template.id %}">
                    <i class="ph ph-pencil-simple"></i>
                </a>
            {% endif %}
        </div>
        {% for question in form_template.question_set.all %}
        <div class="combined-form">
            <div class="question-form">
                {% if editing %}
                    <form method="POST" action="{% url 'save_question' form_template.id question.id %}">
                        {% csrf_token %}
                        <input class="question-editing" type="text" name="question" value="{{ question.question }}" autofocus>
                        <button type="submit">Save</button>
                    </form>
                {% else %}
                    <span>{{ question.question }}</span>
                    <a class="form-edit" href="{% url 'edit_question' form_template.id question.id %}">
                        <i class="ph-bold ph-pencil-simple"></i>
                    </a>
                {% endif %}
            </div>
            <div class="response-box"></div>
        </div>
        {% endfor %}
    </div>
</body>
<footer>
    <div class="bottom-icons">
        <a class="icon" href="/dashboard"><i class="ph ph-arrow-u-up-left"></i></a>
        <form method="POST" class="center-button-form" action="{% url 'create_question' form_template.id %}">
            {% csrf_token %}
            <a href="" onclick="event.preventDefault(); this.closest('form').submit();" class="icon new-object-icon"><i class="ph ph-plus"></i></a>
        </form>
        <a class="icon" href="{% url 'create_form' form_template.id %}"><i class="ph ph-microphone"></i></a>
    </div>
</footer>
</html>
