{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Talk2Form Form</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;500&display=swap" rel="stylesheet">
    <script src="https://unpkg.com/@phosphor-icons/web"></script>
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
    <script>
        function dismissMessage(element) {
            element.parentNode.removeChild(element);
        }

        function openModal() {
            var modal = document.getElementById("formConfigModal");
            modal.style.display = "block";
        }

        function closeModal() {
            var modal = document.getElementById("formConfigModal");
            modal.style.display = "none";
        }

        window.addEventListener("click", function(event) {
            var modal = document.getElementById("formConfigModal");
            if (event.target === modal) {
            closeModal();
            }
        });

        function confirmDeleteFormTemplate() {
            var deleteBtn = document.getElementById('deleteFormTemplateBtn');
            var warningText = document.getElementById('deleteFormTemplateWarning');
            var confirmBtn = document.getElementById('confirmDeleteFormTemplateBtn');

            deleteBtn.style.display = 'none';
            warningText.style.display = 'block';
            confirmBtn.style.display = 'block';
        }

        function updateCharacterCount(input) {
            var maxLength = 255;
            var currentLength = input.value.length;
            var counter = document.getElementById("character_count");
            counter.textContent = currentLength + "/" + maxLength;
        }
        
        function resizeTextarea(textarea) {
            textarea.style.height = "auto";
            textarea.style.height = textarea.scrollHeight + "px";
        }
        
        function initializeTextarea(textareaId) {
            var textarea = document.getElementById(textareaId);
            resizeTextarea(textarea);
            
            textarea.addEventListener("input", function() {
                resizeTextarea(this);
            });
        }
    </script>
</head>
<body>
    <div class="form-container">
        {% for message in messages %}
        {% if message.tags %} {# check if message has tags #}
            {% if message.tags == 'success' %}
                <div class="message success-message">
                    <span>{{ message }}</span>
                    <button class="dismiss-button" onclick="dismissMessage(this.parentNode)">
                        <i class="ph ph-x"></i>
                    </button>
                </div>
            {% elif message.tags == 'error' %}
                <div class="message error-message">
                    <span>{{ message }}</span>
                    <button class="dismiss-button" onclick="dismissMessage(this.parentNode)">
                        <i class="ph ph-x"></i>
                    </button>
                </div>
            {% endif %}
        {% else %}
            <div class="message error-message">
                <span>{{ message }}</span>
                <button class="dismiss-button" onclick="dismissMessage(this.parentNode)">
                    <i class="ph ph-x"></i>
                </button>
            </div>
        {% endif %}
        {% endfor %}
        <!-- Header -->
        <div class="question-form-header">
            {% if editing_title %}
                <form method="POST" action="{% url 'save_template_title' form_template.id %}">
                    {% csrf_token %}
                    <textarea id="title-editing" class="title-editing" type="text" name="title" autofocus>{{ form_template.title }}</textarea>
                    <button type="submit">Save</button>
                </form>
            {% else %}
                <span>{{ form_template.title }}</span>
                <div class="form-header-icons">
                    <a href="{% url 'edit_template_title' form_template.id %}">
                        <i class="ph ph-pencil-simple"></i>
                    </a>
                    <a class="form-header-icon" href="#" onclick="openModal()">
                        <i class="ph ph-gear"></i>
                    </a>                  
                </div>
            {% endif %}
        </div>
        <!-- End Header -->

        <!-- Body -->
        <div class="question-form-body">
            {% if form_template.body %}
                {% if editing_body %}
                    <form method="POST" action="{% url 'save_template_body' form_template.id %}">
                        {% csrf_token %}
                        <textarea id="body-editing" class="body-editing" type="text" name="body" autofocus>{{ form_template.body }}</textarea>
                        <button type="submit">Save</button>
                    </form>
                {% else %}
                    <div class="form-template-body">{{ form_template.body }}</div>
                    <div class="form-header-icons">
                        <a href="{% url 'edit_template_body' form_template.id %}">
                            <i class="ph ph-pencil-simple"></i>
                        </a>
                    </div>
                {% endif %}
            {% endif %}
        </div>
        <!-- End Body -->

        {% for question in form_template.question_set.all %}
        <div class="combined-form">
            <div class="question-form">
                {% if question.editing %}
                    <div class="form-edit-buttons">
                        <form method="POST" action="{% url 'save_question' form_template.id question.id %}">
                            {% csrf_token %}
                            <textarea id="question-editing-{{ question.id }}" class="question-editing" name="question" autofocus>{{ question.question }}</textarea>
                            <button type="submit" class="save-button"><i class="ph-bold ph-floppy-disk"></i></button>
                        </form>
                    </div>
                {% else %}
                    <span class="question-text">{{ question.question }}</span>
                    <a class="form-edit" href="{% url 'edit_question' form_template.id question.id %}">
                        <i class="ph-bold ph-pencil-simple"></i>
                    </a>
                    <form method="POST" action="{% url 'delete_question' form_template.id question.id %}">
                        {% csrf_token %}
                        <a class="form-edit" onclick="event.preventDefault(); this.closest('form').submit();">
                            <i class="ph-bold ph-trash"></i>
                        </a>
                    </form>
                {% endif %}
            </div>
            <div class="response-box"></div>
        </div>
        {% endfor %}
    </div>
    <!-- Modal -->
    <div id="formConfigModal" class="modal">
        <div class="modal-content">
            <h2>Edit Form Configuration</h2>
            <form id="formConfigForm" method="POST" action="{% url 'save_form_config' form_template.id %}">
                {% csrf_token %}
                <div class="form-field">
                    <label for="language">Language:</label>
                    <select id="language" name="language">
                        <option value="english" {% if form_config.language == 'english' %}selected{% endif %}>English</option>
                        <option value="mandarin chinese" {% if form_config.language == 'mandarin chinese' %}selected{% endif %}>Mandarin Chinese</option>
                        <option value="hindi" {% if form_config.language == 'hindi ' %}selected{% endif %}>Hindi </option>
                        <!-- Add other language options here -->
                    </select>
                </div>
                <div class="form-field">
                    <label for="conversation_type">Conversation Type:</label>
                    <input type="text" id="conversation_type" name="conversation_type" maxlength="255" oninput="updateCharacterCount(this)" value="{{ form_config.conversation_type }}">
                    <span id="character_count" class="character_count">0/255</span>
                </div>                
                <div class="form-field">
                    <label for="audio_recognition_model_id">Audio Recognition Model:</label>
                    <select id="audio_recognition_model_id" name="audio_recognition_model_id">
                        <option value="whisper-1" {% if form_config.audio_recognition_model_id == 'whisper-1' %}selected{% endif %}>Whisper</option>
                        <!-- Add other audio recognition model options here -->
                    </select>
                </div>
                <div class="form-field">
                    <label for="system_prompt">System Prompt:</label>
                    <textarea id="system_prompt" name="system_prompt" maxlength="2000">{{ form_config.system_prompt }}</textarea>
                </div>
                <div class="form-field">
                    <label for="ai_model_id">AI Model:</label>
                    <select id="ai_model_id" name="ai_model_id">
                        <option value="gpt-3.5-turbo" {% if form_config.ai_model_id == 'gpt-3.5-turbo' %}selected{% endif %}>GPT-3.5</option>
                        <!-- <option value="gpt-3.5-turbo-16k" {% if form_config.ai_model_id == 'gpt-3.5-turbo-16k' %}selected{% endif %}>GPT-3.5-16k</option> -->
                        <!-- <option value="gpt4" {% if form_config.ai_model_id == 'gpt4' %}selected{% endif %}>GPT4</option> -->
                        <!-- Add other AI model options here -->
                    </select>
                </div>
                <div class="form-field">
                    <label for="temperature">Temperature:</label>
                    <input type="number" id="temperature" name="temperature" step="0.1" min="-2" max="2" value="{{ form_config.temperature }}">
                </div>
                <div class="form-field">
                    <label for="presence_penalty">Presence Penalty:</label>
                    <input type="number" id="presence_penalty" name="presence_penalty" step="0.1" min="-2" max="2" value="{{ form_config.presence_penalty }}">
                </div>
                <div class="button-container">
                    <button class="settings-button save" type="submit">Save</button>
                    <button class="settings-button cancel" onclick="closeModal()">Cancel</button>
                </div>
            </form>
            <form id="deleteFormTemplateForm" action="{% url 'delete_form_template' form_template.id %}" method="POST">
                {% csrf_token %}
                <button id="deleteFormTemplateBtn" class="settings-button danger" type="button" onclick="confirmDeleteFormTemplate()">Delete Form Template</button>
                <p id="deleteFormTemplateWarning" style="display: none;"><b>Are you sure?</b> <br> <span style="color:rgb(209, 71, 71);">Deleting a form template will delete all associated form responses.</span></p>
                <button id="confirmDeleteFormTemplateBtn" class="settings-button danger" type="submit" style="display: none;">Confirm Deletion</button>
            </form>
        </div>
    </div>
    <script>
        initializeTextarea("body-editing");
        initializeTextarea("title-editing");
    </script>
        {% for question in form_template.question_set.all %}
        <script>
            initializeTextarea("question-editing-{{ question.id }}");
        </script>
        {% endfor %}
        
</body>
<footer>
    <div class="bottom-icons">
        <a class="icon" href="/dashboard"><i class="ph ph-arrow-u-up-left"></i></a>
        <form method="POST" class="center-button-form" action="{% url 'create_question' form_template.id %}">
            {% csrf_token %}
            <a href="" onclick="event.preventDefault(); this.closest('form').submit();" class="icon new-object-icon"><i class="ph ph-plus"></i></a>
        </form>
        <a class="icon" href="{% url 'create_form' form_template.id %}"><i class="ph ph-microphone"></i></a>
    </div>
</footer>
</html>