{% load static %}
{% csrf_token %}

<!DOCTYPE html>
<html>
<head>
    <title>Form Created</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;500&display=swap" rel="stylesheet">
    <script src="https://unpkg.com/@phosphor-icons/web"></script>
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
</head>
<body>
        <div class="form-container">
            <!-- Header -->
            <div class="question-form-header">
                {% if editing_title %}
                    <form method="POST" action="{% url 'save_template_title' form_template.id %}">
                        {% csrf_token %}
                        <textarea id="title-editing" class="title-editing" type="text" name="title" autofocus>{{ form_template.title }}</textarea>
                        <button type="submit">Save</button>
                    </form>
                {% else %}
                    <span>{{ form_template.title }}</span>
                    <div class="form-header-icons">
                        <a href="#">
                            <i class="ph ph-pencil-simple"></i>
                        </a>
                        <a class="form-header-icon" href="#" onclick="openModal()">
                            <i class="ph ph-gear"></i>
                        </a>                  
                    </div>
                {% endif %}
            </div>
            <!-- End Header -->
    
            <!-- Body -->
            <div class="question-form-body">
                {% if form_template.body %}
                    {% if editing_body %}
                        <form method="POST" action="{% url 'save_template_body' form_template.id %}">
                            {% csrf_token %}
                            <textarea id="body-editing" class="body-editing" type="text" name="body" autofocus>{{ form_template.body }}</textarea>
                            <button type="submit">Save</button>
                        </form>
                    {% else %}
                        <div class="form-template-body">{{ form_template.body }}</div>
                        <div class="form-header-icons">
                            <a href="{% url 'edit_template_body' form_template.id %}">
                                <i class="ph ph-pencil-simple"></i>
                            </a>
                        </div>
                    {% endif %}
                {% endif %}
            </div>
            <!-- End Body -->
            <!-- Start Questions -->
            {% for question in form_template.question_set.all|dictsort:'id' %}
            <div class="combined-form">
                <div class="question-form">
                    {% if question.editing %}
                        <div class="form-edit-buttons">
                            <form method="POST" action="{% url 'save_question' form_template.id question.id %}">
                                {% csrf_token %}
                                <textarea id="question-editing-{{ question.id }}" class="question-editing" name="question" autofocus>{{ question.question }}</textarea>
                                <button type="submit" class="save-button"><i class="ph-bold ph-floppy-disk"></i></button>
                            </form>
                        </div>
                    {% else %}
                        <span class="question-text">{{ question.question }}</span>
                        <a class="form-edit" href="{% url 'edit_question' form_template.id question.id %}">
                            <i class="ph-bold ph-pencil-simple"></i>
                        </a>
                        <form method="POST" action="{% url 'delete_question' form_template.id question.id %}">
                            {% csrf_token %}
                            <a class="form-edit" onclick="event.preventDefault(); this.closest('form').submit();">
                                <i class="ph-bold ph-trash"></i>
                            </a>
                        </form>
                    {% endif %}
                </div>
                <div class="response-box"></div>
            </div>
            {% endfor %}
            <!-- End Questions -->
        </div>
    <div class="modal-background"></div>
    <div class="modal-container">
        <div class="recording-icons">
            <h2>Record Conversation</h2>
            <div id="recording-time">0:00 / 30:00</div>
            <button id="start-btn" class="start-btn">
                <i class="ph ph-microphone"></i>
            </button>
            <button id="pause-btn" class="pause-btn" style="display: none;">
                <i class="ph ph-pause"></i>
            </button>
            <button id="resume-btn" class="resume-btn" style="display: none;">
                <i class="ph ph-play"></i>
            </button>
            <button id="stop-btn" class="stop-btn" style="display: none;">
                <i class="ph ph-stop"></i>
            </button>
        </div>
    </div>
    <script>
        const csrfToken = document.querySelector('input[name="csrfmiddlewaretoken"]').value;

        const formId = '{{ form.id }}';
        const startBtn = document.getElementById('start-btn');
        const stopBtn = document.getElementById('stop-btn');
        const pauseBtn = document.getElementById('pause-btn');
        const resumeBtn = document.getElementById('resume-btn');
        const recordingTimeElement = document.getElementById('recording-time');

        let mediaRecorder; // MediaRecorder object
        let startTime;
        let intervalId;
        let elapsedTime = 0;

        startBtn.addEventListener('click', startRecording);
        stopBtn.addEventListener('click', stopRecording);
        pauseBtn.addEventListener('click', pauseRecording);
        resumeBtn.addEventListener('click', resumeRecording);

        function startRecording() {
            startBtn.style.display = 'none'; // Hide the start button
            pauseBtn.style.display = 'inline-block'; // Show the pause button
            stopBtn.style.display = 'inline-block';

            navigator.mediaDevices.getUserMedia({ audio: true })
                .then(function(stream) {
                    let mimeType = 'audio/webm;codec=opus';
                    let dataType = 'webm';
                    if (!MediaRecorder.isTypeSupported(mimeType)) {
                        mimeType = 'audio/mp4;codec=aac';
                        dataType = 'mp4';
                    }
                    mediaRecorder = new MediaRecorder(stream, { mimeType: mimeType });
                    mediaRecorder.addEventListener('dataavailable', function(e) {
                        if (e.data.size > 0) {
                            sendAudioChunk(e.data, dataType); // Send the chunk to the server
                        }
                    });
                    mediaRecorder.start();
                    startTime = new Date().getTime();
                    intervalId = setInterval(updateRecordingTime, 1000);
                    setTimeout(stopRecording, 1800000)
                })
                .catch(function(err) {
                    console.error('Error accessing microphone:', err);
                });
        }

        function stopRecording() {
            if (mediaRecorder && mediaRecorder.state !== 'inactive') {
                mediaRecorder.stop();
                mediaRecorder.stream.getTracks().forEach(function(track) {
                    track.stop();
                });
                clearInterval(intervalId);
            }
        }

        function pauseRecording() {
            if (mediaRecorder && mediaRecorder.state === 'recording') {
                mediaRecorder.pause();
                clearInterval(intervalId); // Pause the timer
                elapsedTime = new Date().getTime() - startTime;
                pauseBtn.style.display = 'none'; // Hide the pause button
                resumeBtn.style.display = 'inline-block'; // Show the resume button
            }
        }

        function resumeRecording() {
            if (mediaRecorder && mediaRecorder.state === 'paused') {
                mediaRecorder.resume();
                startTime = new Date().getTime() - elapsedTime; // Update the start time
                intervalId = setInterval(updateRecordingTime, 1000); // Resume the timer
                resumeBtn.style.display = 'none'; // Hide the resume button
                pauseBtn.style.display = 'inline-block'; // Show the pause button
            }
        }

        function sendAudioChunk(chunk, dataType) {
            const formData = new FormData();
            formData.append('audioChunk', chunk);
            formData.append('form_id', formId);
            formData.append('dataType', dataType);
            formData.append('csrfmiddlewaretoken', csrfToken);

            fetch(`/stop_audio/${formId}/`, {
                method: 'POST',
                body: formData
            })
            .then(function(response) {
                response.json().then(function(json){console.log(json)});
                window.location.href = `/response_form/${formId}/`;
                chunk = null;
            })
            .catch(function(error) {
                console.error('Error sending audio chunk:', error);
            });
        }

        function updateRecordingTime() {
            const currentTime = new Date().getTime();
            const elapsedTime = currentTime - startTime;
            const maxRecordingTime = 1800000; // 30 minutes in milliseconds
            const remainingTime = Math.max(maxRecordingTime - elapsedTime, 0);
            const currentMinutes = Math.floor(elapsedTime / 60000);
            const currentSeconds = Math.floor((elapsedTime % 60000) / 1000);
            const maxMinutes = Math.floor(maxRecordingTime / 60000);
            const maxSeconds = Math.floor((maxRecordingTime % 60000) / 1000);
            recordingTimeElement.textContent = `${currentMinutes}:${currentSeconds.toString().padStart(2, '0')} / ${maxMinutes}:${maxSeconds.toString().padStart(2, '0')}`;
        }
    </script>
</body>
</html>
