{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Talk2Form Form</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;500&display=swap" rel="stylesheet">
    <script src="https://unpkg.com/@phosphor-icons/web"></script>
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
</head>
<body>
    <div class="form-container">
        {% for message in messages %}
        {% if message.tags %} {# check if message has tags #}
            {% if message.tags == 'success' %}
                <div class="message success-message">
                    <span>{{ message }}</span>
                    <button class="dismiss-button" onclick="dismissMessage(this.parentNode)">
                        <i class="ph ph-x"></i>
                    </button>
                </div>
            {% elif message.tags == 'error' %}
                <div class="message error-message">
                    <span>{{ message }}</span>
                    <button class="dismiss-button" onclick="dismissMessage(this.parentNode)">
                        <i class="ph ph-x"></i>
                    </button>
                </div>
            {% endif %}
        {% else %}
            <div class="message error-message">
                <span>{{ message }}</span>
                <button class="dismiss-button" onclick="dismissMessage(this.parentNode)">
                    <i class="ph ph-x"></i>
                </button>
            </div>
        {% endif %}
        {% endfor %}
        <div class="question-form-header">
                <span>{{ form.template.title }}</span>
        </div>
        {% for response in responses %}
        <div class="combined-form">
            <div class="question-form">
                    <span>{{ response.question.question }}</span>
            </div>
            <div class="response-box">{{ response.response }}</div>
        </div>
        {% endfor %}
    </div>
</body>
<footer>
    <div class="bottom-icons">
        <a class="icon" href="/dashboard" class="icon new-object-icon"><i class="ph ph-sign-out"></i></a>
    </div>
</footer>
</html>
