{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Talk2Form Forms Dashboard</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;500&display=swap" rel="stylesheet">
    <script src="https://unpkg.com/@phosphor-icons/web"></script>
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
</head>
<body>
    <div class="header">
        <h1>Dashboard</h1>
    </div>
    <div class="dashboard-container">
        <a class="form-link" href="#"><span>Form 1</span><i class="ph ph-sign-out"></i></a>
        <a class="form-link" href="#"><span>Form 2</span><i class="ph ph-sign-out"></i></a>
        <a class="form-link" href="#"><span>Form 3</span><i class="ph ph-sign-out"></i></a>
    </div>
</body>
<footer>
    <div class="bottom-icons">
        <a class="icon" href="logout"><i class="ph ph-sign-out"></i></a>
        <a class="icon center-icon" href="#"><i class="ph ph-plus"></i></a>
        <a class="icon" href="usersettings"><i class="ph ph-user-circle"></i></a>
    </div>
</footer>
</html>