{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Talk2Form</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;500&display=swap" rel="stylesheet">
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
</head>
<body>
    <div class="header">
        <h1><b>Talk</b><span class="light">2</span><b>Form</b></h1>
    </div>
    <div class="form-container">
        <div class="form-field">
            <input type="email" placeholder="Email">
        </div>
        <div class="form-field">
            <input type="password" placeholder="Password">
        </div>
        <a class="login-button" href="#">Login</a>
        <a class="request-button" href="#">Request Access</a>
    </div>
    <div class="text-area">
        <h2>What is TalkToForm?</h2>
        <p>Automatically convert conversations into auto-filled forms by asking simple English language prompts fed into a powerful AI engine.</p>
        <p>Learn more here: <a href="https://github.com/kyleli/TalkToForm">https://github.com/kyleli/TalkToForm</a></p>
        <p>For Early Access, Join The Discord Server: <a href="https://discord.gg/VDNT2BR7UB">https://discord.gg/VDNT2BR7UB</a></p>
    </div>
</body>
</html>
