{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Talk2Form Sign Up Form</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;500&display=swap" rel="stylesheet">
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
</head>
<body>
    <div class="header">
        <h1>Request Access</h1>
    </div>
    {% for message in messages %}
    <p class="error-message">{{message}}</p>
    {% endfor %}
    <form method="POST" action="{% url 'signup' %}" class="form-container">
        {% csrf_token %}
        <div class="form-field">
            <input type="email" placeholder="Email" name="email"/>
        </div>
        <div class="form-field">
            <input type="password" placeholder="Password" name="password"/>
        </div>
        <div class="form-field">
            <input type="password" placeholder="Confirm Password" name="confirmpassword"/>
        </div>
        <input type="submit" class="login-button" value="Submit">
    </form>
</body>
</html>
