{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Talk2Form User Settings</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;500&display=swap" rel="stylesheet">
    <script src="https://unpkg.com/@phosphor-icons/web"></script>
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
</head>
<body>
    <div class="header">
        <h1>User Settings</h1>
    </div>
    <div class="form-container">
        <a class="settings-button" href="#">Change Password</a>
        <a class="settings-button" href="#">Delete Account</a>
        <a class="settings-button" href="logout">Sign Out</a>
    </div>
</body>
<footer>
    <div class="bottom-icons">
        <a class="icon center-icon" href="#"><center-i class="ph ph-arrow-counter-clockwise"></i></a>
    </div>
</footer>
</html>